 body{
	font-family: Arial, sans-serif;
	font-size:  14px;
	width:  100%;
	height:  100vh;
	padding:  0;
	margin:  0;
}

*, *::before, *::after {box-sizing: border-box;}

/**HEADER**/
.news_index_title {
	text-align:  center;
	font-size: 2em;
}

.header_select_lang {
	border:  none;
	display: inline-block; 
}

header {
	width:  100%;
}

/*MENU*/
.menu {
	float:  left;
	margin-left: 60px;
	color:  #0097d5;
	width: 30%;
	height:  30px;
	display:  inline-block;
}

.box-shadow-menu:before {
	position: absolute;
	top: 1.25em;
	left: 5em;
	content: "";
	height: 0.15em;
	width: 0.7em;
	background-color: #0097d5;
	box-shadow: 0 0.25em 0 0 #0097d5, 0 0.5em 0 0 #0097d5;
}

/*show MENU*/
.show-menu {
	color: #33adde;
	font-weight:  700;
	font-size:  18px;
	margin-top:  0;
	padding-top:  0;
}

.show-menu:hover, .show_menu li:hover{
	background-color: #fff;
	z-index: 100;
	top:  -3px;
}

.show-menu:hover .menuList ul:first-child {
	display:  block;
	width:  210px;
	height:  590px;
	background-color:  #fff;
	z-index:  100;
	position:  absolute;
	margin-top:  15px;
	margin-left:  -10px;
	list-style: none;
	color:  #ccc;
	font-weight: 600;
	text-transform: capitalize;
}

.show-menu .menuList ul li {
	list-style: none;
	border-top:  1.5px solid #f0f0f0;
	padding:  5px;
}

.show-menu .menuList .borderDown {
	border-bottom:  1.5px solid #f0f0f0;
}

.show-menu .menuList ul li a{
	text-decoration: none;
	color:  #ccc;
	}

.show-menu .menuList ul li a:hover{
	text-decoration: none;
	color:  #33adde;
	}

.show-menu .menuList ul li:hover{
	color: #33adde;
}

.show-menu .menuList ul:first-child {
	display:  none;
}

.show-menu .menuList ul ul li{
	border-top-color: transparent;
} 
/*FIN SHOW MENU*/
/*fin menu*/



/*logoHeader*/
.logoHeader {
	width:  22%;
	display:  inline-block;
	float:  left;
}

.logoHeader, .menu, .headerRight {
	margin-top:  1px;
}

.selectLang {
	border:  none;
	display:  inline-block;
}

.search_input {
	display:  none;
}

.submit-form-search {
	display: inline-block;
	float:  right;
}

.submit-form-search:hover {
	display: inline-block;
	width: 130px;
	margin-top:  0;
	margin-right:  0;
	border:  1px solid grey;
}



/*header right*/
.headerRight {
	width:  25%;
	float:  left;
	height:  30px;
}

.headerRight .searchForm {
	display: inline-block;
}

.headerRight .rss{
	display: inline-block;
	width:  34px;
}
.rss_ulist {
	display:  inline-block;
	margin-left:  0;
	padding:  3px;
}

.rss_li {
	display:  inline-block;
	list-style: none;
}

.rss_ulist:after{
	content:  "";
	background-color: grey;
	width:  3px;
	height:  100%; 
	top:  0;
	left:  0;
}

.rss:after{
	content:  "";
	background-color: grey;
	width:  3px;
	height:  100%; 
	top:  -15px;
	left:  0;
}

.fixed {
	margin-top: 0;
	width:  100%;
	height:  58px;
	position:  fixed;
	background-color:  #fff;
	padding:  7px 5% 0;
	z-index:  1000;
}

.fixed_index {
    margin-top: 0px;
    width: 100%;
    height: 53px;
    position: fixed;
    background-color: #fff;
    padding: 0 5%;
    z-index: 1000;
}


/**fin header**/



/*patrocinios*/

.logos_patrocinio {
	width:  30%;
	display:  inline-block;
	padding:  10px 15px;
	height: 300px;
	float:  left;
	text-align: center;
}

.patrocinios_logos {
	width:  80%;
	margin:  30px 15%;
}

.patrocinios_slider_content {
	clear:  both;
	padding: 25px 0;
	height:  100%;
}

/*calidad*/

.section_h2 {
	margin-top:  105px;
}

.text_center_bold_margin {
	text-align:  center;
	margin:  30px 10%;
	font-weight: 600;
}

.text_size_blue {
	color:  #0097d4;
	font-size:  2.5em;
}

.text_h2 {
	color:  #0097d4;
	text-transform: uppercase;
	font-size:  1.5em;
	font-weight: 600;
	margin:  20px auto 5px;
	padding-bottom: 25px;
}

.main_figures_img {
	margin:  15px auto;
	width: 100%;
}

.main_figures_img1, .main_figures_img2, .main_figures_img3{
	margin:  15px auto;
	display:  inline-block;
	width:  33%;
	height:  450px;
	padding:  20px 0;
	text-align:  center;
	float:  left;
	background-color: beige;
}

.main_figures_text {
	margin:  15px auto;
	color: #0097d4;
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
	width:  60%;
}

.main_figures_span {
	color: #f56e6e ;
	font-size:  2em;
	font-style: italic;
	font-weight: 600;
}

.graphic_section {
	width:  100%;
	clear:  both;
	margin:  5px auto;
	height:  100%;
}

.graphic_bgd {
	background-color: #eee;
}

.graphic_img {
	width:  80%;
	margin: 60px 10% ;
}

.banca_personalizada {
	clear:  both;
	margin:  50px auto;
}

.banca_personalizada_content, .calidad_attcliente_content {
	background-color: #F4F0F4;
	padding:  55px 5% 0;
}

.text_center {
	text-align: center;
	margin:  5px;
	padding:  5px 80px;
	font-weight: 600;
}

.imgYtext_banca_proxima {
	background-color: #F4F0F4;
	height:  700px;
}
.img_banca_proxima {
	padding-top:  70px;
	padding-left: 10%;
	width:  70%;
	display:  inline-block;
	float:  left;
}

.text_banca_proxima {
	padding-top:  70px;
	width:  25%;
	display:  inline-block;
}

.small_text {
	margin:  55px auto;
}

.small_text .text_color {
	font-size:  1.4em;
	font-style: italic;
	font-weight: 700;
	margin-right: 10px ;
	text-align: left;
	padding:  15px;
}

.text_red {
	color: #f56e6e ;
}

.text_green {
	color:  #21b16f;
	padding:  10px;
}

.text_yellow {
	color: #EDD49C;
}

.text_second {
    width: 253px;
    height: 66px;
    display: inline-block;
    padding-top: 11px;
}

.text_p {
	color:  #0097d4;
	font-weight: 300;
	padding-bottom:  10px;
}

.middle_p_border {
	border-top:  1px dashed #0097d4;
	border-bottom: 1px dashed #0097d4;
}

.calidad_2images {
	padding:  20px 2%;
}

.calidad_first_image, .calidad_second_image {
	display:  inline-block;
	float:  left;
}

.calidad_first_image {
	width:  60%;
}

.calidad_second_image {
	width:  40%;
}

.calidad_img {
	padding-left:  60px;
}

.text_center_blue {
	color: #0097d4;
	text-align: center;
	font-weight: 600;
	margin:  25px auto;
}

.calidad_text_normal {
	clear:  both;
	padding:  35px 1% 0;
	font-weight: 600;
}

.calidad_text {
	padding-top:  1.5em;
}

.attcliente_li {
	padding-top:  1.5em;
	font-weight: 600;
}

.attcliente_p {
	padding-left:  40px;
	font-weight: 600;
}

.link {
	color: #000;
	text-decoration: underline;
}
/*fin calidad*/

.separator {
	width:  100%;
	height: 20px;
	background-image: url("../img/imgCalidad/bg-repeat.png");
	background-repeat:  repeat-x;
	margin-bottom: 15px;
}

/***FOOTER****/
footer {
	color: #686868 ;
	display: block;
	width: 100%;
}

.footerUp, .footerDown {
	display: block;
}

.footerUp {
	background-color: #f5f6f7;
	height: 315px;
	padding: 25px 10%;
}

.footerUp .contenedor-footerUp{
	width:  100%;
	margin:  0 auto;
	height:  100%;
}

.footerUp .contenedor-footerUp div ul li {
	font-size:  0.9em;
	font-weight:  400;
	line-height: 1.7em;
	color: #686868;
	list-style:  none;
}

.footerUp .contenedor-footerUp div ul li a{
	color: #686868;
}

.footerUp .contenedor-footerUp h2 {
	text-transform: uppercase;
    font-size: 1em;
    padding-left: 39px;
    font-weight: 700;
    text-align: left;
}

.footerUp .contenedor-footerUp div {
	display:  block;
	float:  left;
	padding: 25px 2px;
	display: inline-block;
	text-align: left;
	width:  39%;
	height: 250px;
	margin-top:  15px;
	position: relative;
}

.footerUp .contenedor-footerUp div:after {
	display:  inline-block;
	content:  "";
	height:  80%;
	width:  2px;
	background-color: #d0d0d0 ;
	position:  absolute;
	top:  3rem;
	right:  3rem;
}

.footerUp .contenedor-footerUp div:last-child:after {
	display:  inline-block;
	content:  "";
	height:  0;
	width:  0;
	background-color: transparent ;
	position:  absolute;
	top:  0;
	left:  0;
}

.footerUp .contenedor-footerUp div:last-child{
	margin-right: 5px;
	width:  20%;
}

.footerDown {
	width:  100%;
	padding: 5px 10%;
	height:  80px;
	margin:  0 auto;
	background-color: #ebebeb;
	color:  #333;
}

.contenedor-footerDown {
	width:  95%;
	height:  100%;
	margin:  0 auto;
}

.footerDown .contenedor-footerDown div{
	padding-top: 1%;
	display:  inline-block;
}

.footerImg {
	width:  60%;
	display: inline-block;
}

.footerImg img, .footerImg .footerText {
	display:  inline-block;
}

.footerText {
	padding-left: 20px;
	width:  250px;
}

.footerText li a, .footerText p{
	text-decoration: none;
	font-size: 1em;
	color:  #333;
	display:  inline-block;
	font-weight: 600;
	padding-left: 3px;
	padding-right: 3px;
}

.footerText li {
	list-style: none;
	display:  inline-block;
}

.footerText li:first-child:after{
	content:  "";
	width: 3px;
	height: 15px;
	background-color: #d0d0d0;
	border:  1px solid #d0d0d0;
	display:  inline-block;
}

.redes {
	width: 35%;
}

.redes ul li {
	display:  inline-block;
	list-style: none;
	margin-right: 5px;
	/*float: right;*/
}

/**fin FOOTER**/

 .nuestros_patrocinios, .contacto_content, .paralympics, .calidad_content {
	width:  100%;
} 

/*section INDEX*/
.index_content {
	margin-top:  15px;
}

.carousel-inner{
	height:  450px;
}

.news_index {
	width:  100%;
	height:  100%;
}

/*middle content INDEX*/
.title_h2 {
	color:  grey;
	text-align:  left;
	font-size:  1.5em;
	font-weight: 500;
}

.one_right_part {
	float:  right;
}

.middle_content {
	margin:  10px 10%;
}

.agenda {
	float:  left;
	width:  60%;
}

.middle_content_agenda {
	border:  1px solid #ccc;
}

.caja_agenda {
	width:  100%;
}

.agenda_img {
	width: 188px;
    
    margin: 0;
    float: left;
}

.agenda_txt {
	width: 220px;
    font-size: 0.7em;
    padding: 20px 0 14px 35px;
}

.agenda_text {
	font-size: 0.9em;
    font-weight: 600;
	width: 164px;
	float: left;
	text-align: center;
	background-color:   #e2e2e2;
	padding:  33px 0;
}

.agenda_fecha {
	padding: 18px 5px;
	font-size:  2em;
	text-align:  center;
	width:  100px;
	float:  left;
	color:  #fff;
	background-color: #5ea9dd ;
}

.agenda_day {
	font-size: 1.5em;
	margin:  0;
}

.agenda_hr {
	width: 60%;
	margin:  0 auto;
}

.agenda_month {
	font-size: 0.6em;
	text-transform: uppercase;
}

.agenda_img, .agenda_fecha, .agenda_text, .agenda_txt {
	height: 132px;
	display:  inline-block;
}

.agenda_txt1 {
	position: relative;
    margin-top: 0px;
    margin-right: 0;
}

.agenda_draw {
	position: absolute;
	z-index:  9999;
	margin-top: 40px;
	width:  0;
	height:  0;
	display:  inline-block;
	border-left: 25px solid #e2e2e2;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid transparent;
}

.two_images {
	height:  200px;
	clear:  both;
	margin:  10px 10%;
}

.two_images_left {
	display:  inline-block;
	width:  47%;
	float:  left;
	position:  relative;
	margin:  10px;
	margin-right:  10px;
}

.two_images_left_text {
	position:  absolute;
	margin-left: 15px ;
}

.two_images_right {
	display:  inline-block;
	width:  47%;
	float:  left;
	margin:  10px;
	margin-left:  10px;
}

.two_images_left_title {
	font-weight:  700;
	font-size:  1.2em;
	text-transform: uppercase;
}

.two_images_img {
	width:  100%;
}


/*news*/
.news_index_content {
	width:  90%;
	margin:  30px 5%;
	height:  100%;
}

.news_25, .news_50 {
	margin:  5px;
	display:  inline-block;
} 

.news_25 {
	width: 255px;
	
}

.news_50 {
	width:  541px;
	
}

.news_25 img {
	width: 100%;
	height:  330px;
}

.news_50 img{
	width:  100%;
	height:  330px;
}

/*fin news*/

/*twitter*/

.twitter {
	background-color: #5ea9dd;
	height:  260px;
	width:  100%;
}

.twitter_list_item {
	display:  inline-block;
	width:  18%;
	height: 190px;
	color:  #fff;
	font-weight: 500;
	margin:  20px 6%;
	font-size: 1em;
	float:  left;
}

.twitter_title {
	font-size:  1.1em;
	margin-left: 10px ;
	margin-bottom:  20px;
	display:  inline-block;
	font-weight: 600;
}

/*fin twitter*/

.Main-container {
	width:  90%;
	margin:  0 5%;
}

/*CONTACTO*/
.contact_text {
	text-align: center;
	margin: 90px auto 5px;
	width:  40%;
}

.contact_h2 {
	font-weight: 600;
	font-size:  2rem;
	text-align: center;
}
.contact_span {
	font-weight: 700;
}

.contact_link {
	color: #33adde;
}

.directores {
	width:  90%;
	margin:  25px auto;
	margin:  10px 5%;
}

.directores .caja_directores{
	background-color: #33adde;
	width:  30%;
	height:  110px;
	color:  #fff;
	display:  inline-block;
	margin:  15px 10px;
	overflow:hidden;
}

.p_directores {
	padding-left:  7px;
	font-style: italic;
	font-size:  14px;
	margin:  10px;
}

.titulo_directores {
	font-size:  1em;
	font-weight: bold;
	margin:  10px;
}

/*banner*/
		.banner_content{
			width:  100%;
			height: 130px;
			/*margin-top: 70px;*/
			position:  relative;
			/*background-image: url("img/ContactoImg/contacto_v2.jpg");*/
			}
		
		.banner_content img{
			width:  100%;
			height:  190px;
		}

		.banner_content h1{
				color:  #fff;
				font-weight:  800;
				text-align:  right;	
				font-size:  1em;
				right:  135px;
				top: 125px;	
				text-transform: uppercase;	
				z-index:  100;
				position:  absolute;
			}
		/*fin banner*/

/*deporte paralimpico**/

.paralympics {
	margin-bottom: 60px;
}

.inconform_content {
	padding:  80px 0 200px 10%;
	margin: 10px 0 40px;
}

.compromet_content {
	padding:  5px 0 50px 10%;
	}

.paralympics_img_content, .paralympics_text {
	display:  inline-block;
	float:  left;
}

.paralympics_img_content{
	width:  50%;
}

.paralympics_image {
	width:  304px;
	height:  220px;
	margin-left:  15%;
}

.paralympics_text{
	border-left:  4px solid #0097d4;
	width:  50%;
	padding:  0 20px;
	padding-left: 5rem;
}


.paralympics_video {
	width:  100%;
	clear:  both;
	height:  400px;
}

.blue_text {
	color: #0097d4;
}

.center_text {
	text-align:  center;
}

.bold_text {
	font-weight: bold;
}

.margin_10 {
	margin:  0 10%;
}

.margin_15 {
	margin:  0 15%;
}

.title {
	text-transform: uppercase;
	font-weight: 600;
}

.inconform_p {
	font-size: 1em;
}

/*banca responsable*/
.responsable_text {
	margin:  30px auto;
}

.responsable_text span {
	font-size: 1.2em;
}

/*FIN banca responsable*/

/*Media queries*/

@media screen and (min-width: 800px) and (max-width: 1400px) {
	.footerUp .contenedor-footerUp {
    	width: 90%;
	}
}

@media screen and (max-width: 900px) {
	.left_part, .right_part {
		width: 100%;
		margin:  10px auto;
	}

	.right_part, .left_part{
		margin:  10px auto;
	}
}