html,
body,
p,
div,
h1,
h2,
h3,
h4,
a,
img,
ul,
li,
ol,
span,
header,
nav,
footer,
section,
article,
object,
video {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    border: none;
}

body {
	font-family: Arial, sans-serif;
	font-size:  14px;
	width:  100%;
	height:  100vh;
	padding:  0;
	margin:  0;
}

*, *::before, *::after {box-sizing: border-box;}

/**HEADER**/
.news_index_title {
	text-align:  center;
	font-size: 2em;
	margin-top:  40px;
}

.header_select_lang {
	border:  none;
	display: inline-block; 
}

header {
	width:  100%;
}

/*MENU*/
.menu {
	/*margin-left: -21px;*/
	color:  #0097d5;
	/*width: 20%;*/
	height:  30px;
}

.menu_link::before {
	position: absolute;
	top: 14px;
	margin-left: -30px;
	content: "";
	height: 0.15em;
	width: 0.7em;
	background-color: #0097d5;
	box-shadow: 0 0.25em 0 0 #0097d5, 0 0.5em 0 0 #0097d5;
}

/*show MENU*/
.show-menu {
	color: #33adde;
	font-weight:  700;
	font-size:  18px;
	margin-top:  0;
	padding-top:  0;
}

.menu_link {
	text-align:  left;
}

.show-menu:hover, .show_menu li:hover{
	background-color: #fff;
	z-index: 100;
	top:  -3px;
}

.show-menu:hover .menuList ul:first-child {
	display:  block;
	width:  210px;
	height:  590px;
	background-color:  #fff;
	z-index:  100;
	position:  absolute;
	margin-top:  15px;
	margin-left:  -10px;
	list-style: none;
	color:  #ccc;
	font-weight: 600;
	text-transform: capitalize;
}

.show-menu .menuList ul li {
	list-style: none;
	border-top:  1.5px solid #f0f0f0;
	padding:  5px;
}

.show-menu .menuList .borderDown {
	border-bottom:  1.5px solid #f0f0f0;
}

.show-menu .menuList ul li a{
	text-decoration: none;
	color:  #ccc;
	}

.show-menu .menuList ul li a:hover{
	text-decoration: none;
	color:  #33adde;
	}

.show-menu .menuList ul li:hover{
	color: #33adde;
}

.show-menu .menuList ul:first-child {
	display:  none;
}

.show-menu .menuList ul ul li{
	border-top-color: transparent;
} 
/*FIN SHOW MENU*/
/*fin menu*/



/*logoHeader*/
.logoHeader {
	/*width:  48%;
	display:  inline-block;
	float:  left;
	justify-content: space-around;*/
}

.logoHeader, .menu, .headerRight {
	margin-top:  1px;
}

.selectLang {
	border:  none;
	display:  inline-block;
}

.search_input {
	display:  none;
}

.submit-form-search {
	display: inline-block;
	float:  right;
}

.submit-form-search:hover {
	display: inline-block;
	width: 130px;
	margin-top:  0;
	margin-right:  0;
	border:  1px solid grey;
}



/*header right*/
.headerRight {
	/*width:  35%;
	float:  left;
	text-align:  right;*/
	height:  30px;
	margin-right:  0;
	justify-content:  space-around;
}

.searchForm, .rss, .selectLang {

}

.headerRight .searchForm {
	display: inline-block;
}

.headerRight .rss{
	display: inline-block;
	width:  34px;
}
.rss_ulist {
	display:  inline-block;
	margin-left:  0;
	padding:  3px;
}

.rss_li {
	display:  inline-block;
	list-style: none;
}

.rss_ulist::after{
	content:  "";
	background-color: grey;
	width:  3px;
	height:  100%; 
	top:  0;
	left:  0;
}

.rss::after{
	content:  "";
	background-color: grey;
	width:  3px;
	height:  100%; 
	top:  -15px;
	left:  0;
}

.fixed {
	margin-top: 0;
	width:  100%;
	height:  58px;
	position:  fixed;
	background-color:  #fff;
	padding:  7px 5% 0;
	z-index:  1000;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.fixed_index {
	margin-top: -15px;
	width:  100%;
	height:  53px;
	position:  fixed;
	background-color:  #fff;
	padding:  9px 5%;
	z-index:  1000;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
/**fin header**/

/*patrocinios*/
.logos {
	width:  30%;
	display:  inline-block;
	padding:  10px 15px;
	height: 300px;
	float:  left;
	text-align: center;
}

.logos_section {
	width:  80%;
	margin:  30px 10%;
}

.patrocinios_slider_content {
	clear:  both;
	padding: 25px 0;
	height:  100%;
}

.slider_title {
	text-transform: uppercase;
	font-size: 1em;
}

.text_slider {
    width: 45%;
    display: inline-block;
    margin-left: 52px;
    text-align: center;
}

img.slider_img {
    width: 45%;
}

.baloncesto_slider {
	margin: 25px 15%;
}

.slider_list li {
    display: inline-block;
    padding: 15px 66px;
    border-left: 1px dotted #0097d4;
    text-transform: uppercase;
    font-size: 0.9em;
}

.slider_list {
	color:  #0097d4;
	margin: 5px 7%;
}

/*calidad*/

.calidad_p {
	text-align: center;
	font-weight: 600 ;
	margin:  25px 10%;
}

.calidad_img {
	padding-left:  60px;
}

.section_title {
	margin-top:  105px;
	margin-bottom:  50px;
}

.title_principal {
	color:  #0097d4;
	font-size:  2.5em;
	text-align:  center;
	font-weight:  600;
}

.text_h2 {
	text-align:  center;
	color:  #0097d4;
	text-transform: uppercase;
	font-size:  1.5em;
	font-weight: 600;
	margin:  20px 10% 25px;
}

.nuestros_patrocinios .text_h2 {
	margin-top:  40px;
}

.three_logos {
	margin: 0 auto 15px;
	width: 100%;
}

.three_logos_1, .three_logos_2, .three_logos_3{
	margin:  15px auto;
	display:  inline-block;
	width:  33%;
	height:  450px;
	padding:  20px 0;
	text-align:  center;
	float:  left;
	background-color: #f7f7f7;
}

.logo_text {
	margin:  15px auto;
	color: #0097d4;
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
	width:  60%;
}

.logo_span {
	color: #f56e6e ;
	font-size:  2em;
	font-style: italic;
	font-weight: 600;
}

.graphic_section {
	width:  100%;
	clear:  both;
	margin:  5px auto;
	height:  100%;
}

.graphic_bgd {
	background-color: #eee;
}

.graphic_img {
	width:  80%;
	margin: 60px 10% ;
}

.banca_personalizada {
	clear:  both;
	margin:  50px auto;
}

.banca_personalizada_content, .calidad_attcliente {
	background-color: #F4F0F4;
	padding:  55px 5% 0;
}

.text_center {
	text-align: center;
	margin:  5px;
	padding:  5px 80px;
}

.banca_proxima {
	background-color: #F4F0F4;
}
.banca_proxima_img {
	padding-left: 10%;
	padding-top:  40px;
	width:  70%;
	display:  inline-block;
}

.banca_proxima_img img {
	max-width:  700px;
}

.banca_proxima_text {
	position: absolute;
	width:  25%;
	display:  inline-block;
	margin-top:  60px;
}

.small_text {
	margin:  55px auto;
}

.small_text .text_color {
	font-size:  1.4em;
	font-style: italic;
	font-weight: 700;
	text-align: left;
	padding:  15px;
}

.text_red {
	color: #f56e6e ;
}

.text_green {
	color:  #21b16f;
	padding:  10px;
}

.text_yellow {
	color: #EDD49C;
}

.text_second {
    width: 179px;
    height: 66px;
    display: inline-block;
    padding-top: 11px;
}

.text_p {
	color:  #0097d4;
	font-weight: 300;
	padding-bottom:  10px;
}

.middle_p_border {
	border-top:  1px dashed #0097d4;
	border-bottom: 1px dashed #0097d4;
}

.calidad_2images {
	padding:  20px 2%;
}

.calidad_first_image, .calidad_second_image {
	display:  inline-block;
	float:  left;
}

.calidad_first_image {
	width:  60%;
}

.calidad_second_image {
	width:  40%;
}

.text_center_blue {
	color: #0097d4;
	text-align: center;
	font-weight: 600;
	margin:  25px auto;
}

.calidad_text_normal {
	clear:  both;
	padding:  35px 1% 0;
	font-weight: 600;
}

.calidad_text {
	padding-top:  1.5em;
}

.attcliente_list {
	padding-left:  40px;
}

.attcliente_list li {
	padding-top:  1.5em;
	font-weight: 600;
}

.attcliente_p {
	padding-left:  40px;
	font-weight: 600;
}

.link {
	color: #000;
	text-decoration: underline;
}

.last_news_container {
	margin: 25px 10%;
}

.noticia {
	width:  43%;
	display:  inline-block;
	margin: 15px 25px;
}

.noticia img {
	width:  100%;
	
}
/*fin calidad*/

.separator {
	width:  100%;
	height: 20px;
	background-image: url("../img/imgCalidad/bg-repeat.png");
	background-repeat:  repeat-x;
}

/***FOOTER****/
footer {
	color: #686868 ;
	display: block;
	width: 100%;
}

.footerUp, .footerDown {
	display: block;
	width:  100%;
}

.footerUp {
	background-color: #f5f6f7;
	height: 315px;
}

.footerUp .contenedor-footerUp{
	width:  80%;
	margin:  0 auto;
	padding-left:  80px;
	height:  100%;
}

.footerUp .contenedor-footerUp div ul li {
	font-size:  0.9em;
	font-weight:  400;
	line-height: 1.7em;
	color: #686868;
	list-style:  none;
}

.footerUp .contenedor-footerUp div ul li a{
	color: #686868;
}

.footerUp .contenedor-footerUp h2 {
	text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    text-align: left;
}

.footerUp .contenedor-footerUp div {
	display:  block;
	float:  left;
	padding: 25px 35px;
	display: inline-block;
	text-align: left;
	width:  32%;
	height: 250px;
	margin-top:  15px;
	position: relative;
}

.footerUp .contenedor-footerUp div:after {
	display:  inline-block;
	content:  "";
	height:  80%;
	width:  2px;
	background-color: #d0d0d0 ;
	position:  absolute;
	top:  3rem;
	right:  3rem;
}

.footerUp .contenedor-footerUp div:last-child:after {
	display:  inline-block;
	content:  "";
	height:  0;
	width:  0;
	background-color: transparent ;
	position:  absolute;
	top:  0;
	left:  0;
}

.footerUp .contenedor-footerUp div:last-child{
	margin-right: 5px;
	width:  26%;
}

.footerDown {
	width:  100%;
	padding-top: 10px;
	height:  80px;
	margin:  0 auto;
	background-color: #ebebeb;
	color:  #333;
}

.contenedor-footerDown {
	width:  65%;
	margin: 0 auto;
	height:  100%;
}

.footerDown .contenedor-footerDown div{
	padding-top: 1%;
	display:  inline-block;
}

.footerImg {
	width:  50%;
	display: inline-block;
	float: left;
}

.footerImg img, .footerImg .footerText {
	display:  inline-block;
}

.footerText {
	width:  250px;
}

.footerText li a, .footerText p{
	text-decoration: none;
	font-size: 1em;
	color:  #333;
	display:  inline-block;
	font-weight: 600;
	padding-left: 3px;
	padding-right: 3px;
}

.footerText li {
	list-style: none;
	display:  inline-block;
}

.footerText li:first-child:after{
	content:  "";
	width: 3px;
	height: 15px;
	background-color: #d0d0d0;
	border:  1px solid #d0d0d0;
	display:  inline-block;
}

.redes {
	display:  inline-block;
	width: 40%;
	float:  left;
	text-align:  right;
}

.redes ul li {
	display:  inline-block;
	list-style: none;
	margin-right: 5px;
}

/**fin FOOTER**/

/*section INDEX*/
.index_content {
	margin-top:  15px;
}

.carousel-inner> .item{
	max-height:  350px;
}

.news_index {
	width:  100%;
	height:  100%;
}

/*middle content INDEX*/
.title_h2 {
	color:  grey;
	text-align:  left;
	font-size:  1.5em;
	font-weight: 500;
}

.one_right_part {
	float:  right;
}

.middle_content {
	margin:  10px auto 0;
	width: 1050px;
    height: 100%;
    
}

.agenda {
	float:  left;
	width:  60%;
}

.middle_content_agenda {
	border:  1px solid #ccc;
}

.caja_agenda {
	width:  100%;
}

.agenda_img {
	width: 188px;
    
    margin: 0;
    float: left;
}

.agenda_txt {
	width: 220px;
    font-size: 0.7em;
    padding: 20px 0 14px 35px;
}

.agenda_text {
	font-size: 0.9em;
    font-weight: 600;
	width: 164px;
	float: left;
	text-align: center;
	background-color:   #e2e2e2;
	padding:  33px 0;
}

.agenda_fecha {
	padding: 18px 5px;
	font-size:  2em;
	text-align:  center;
	width:  100px;
	float:  left;
	color:  #fff;
	background-color: #5ea9dd ;
}

.agenda_day {
	font-size: 1.5em;
	margin:  0;
}

.agenda_hr {
	width: 60%;
	margin:  0 auto;
}

.agenda_month {
	font-size: 0.6em;
	text-transform: uppercase;
}

.agenda_img, .agenda_fecha, .agenda_text, .agenda_txt {
	height: 132px;
	display:  inline-block;
}

.agenda_txt1 {
	position: relative;
    margin-top: 0px;
    margin-right: 0;
}

.agenda_draw {
	position: absolute;
	z-index:  9999;
	margin-top: 40px;
	width:  0;
	height:  0;
	display:  inline-block;
	border-left: 25px solid #e2e2e2;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid transparent;
}

.two_images {
	height:  167px;
	clear:  both;
	margin:  10px auto 0;
	width: 1050px;
}

.two_images_left {
	display:  inline-block;
	width:  49%;
	float:  left;
	position:  relative;
	margin-right:  1%;
}

.two_images_left_text {
	position:  absolute;
	margin-left: 15px ;
}

.two_images_right {
	display:  inline-block;
	width:  49%;
	float:  left;
	margin-left:  1%;
}

.two_images_left_title {
	font-weight:  700;
	font-size:  1.2em;
	text-transform: uppercase;
}

.two_images_img {
	width:  100%;
	max-width:  650px;
	min-width:  396px;
}


/*news*/
.news_index_content {
	width:  90%;
	margin:  30px 5%;
	height:  100%;
}

.news_25, .news_50 {
	margin:  5px 2%;
	display:  inline-block;
} 

.news_25 {
	width: 255px;
	
}

.news_50 {
	width:  541px;
	
}

.news_25 img {
	width: 100%;
	height:  330px;
}

.news_50 img{
	width:  100%;
	height:  330px;
}

/*fin news*/

/*twitter*/

.twitter {
	background-color: #5ea9dd;
	height:  240px;
	width:  100%;
}

.twitter_list {
	display:  flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.twitter_list_item {
	width:  22%;
	height: 140px;
	list-style: none;
	color:  #fff;
	margin:  20px 4%;
	font-size: 1em;
}

.twitter_list_item p {
	font-weight:  400;
}

.twitter_title {
	font-size:  1.1em;
	margin-left: 10px ;
	margin-bottom:  20px;
	display:  inline-block;
	font-weight: 600;
}

/*fin twitter*/

.Main-container {
	width:  100%;
	margin:  0 auto;
}

/*CONTACTO*/
.contact_text {
	text-align: center;
	margin: 90px auto 5px;
	width:  100%;
}

.contact_h2 {
	font-weight: 600;
	font-size:  2rem;
	text-align: center;
}
.contact_span {
	font-weight: 700;
}

.contact_link {
	color: #33adde;
}

.directores {
	width:  1089px;
	margin:  25px auto;

}

.directores .caja_directores{
	background-color: #33adde;
	width:  340px;
	height:  110px;
	color:  #fff;
	display:  inline-block;
	margin:  15px 10px;
	overflow:hidden;
}

.p_directores {
	padding-left:  7px;
	font-style: italic;
	font-size:  14px;
	margin:  10px;
}

.titulo_directores {
	font-size:  1em;
	font-weight: bold;
	margin:  10px;
}

/*banner*/
		.banner_content{
			width:  100%;
			height: 130px;
			/*margin-top: 70px;*/
			position:  relative;
			/*background-image: url("img/ContactoImg/contacto_v2.jpg");*/
			}
		
		.banner_content img{
			width:  100%;
			height:  190px;
		}

		.banner_content h1{
				color:  #fff;
				font-weight:  800;
				text-align:  right;	
				font-size:  1em;
				width:  295px;
				right:  2%;
				top: 125px;	
				text-transform: uppercase;	
				z-index:  100;
				position:  absolute;
			}
		/*fin banner*/

/*deporte paralimpico**/

.paralympics {
	margin-bottom: 60px;
}

.inconform_content {
	padding:  80px 0 20px 5%;
	margin: 25px 0 5px;
}

.compromet_content {
	margin-top:  21px;
	padding:  5px 0 50px 10%;
	}

.paralympics_img_content, .paralympics_text {
	display:  inline-block;
	float:  left;
}

.paralympics_img_content{
	width:  40%;
}

.paralympics_image {
	width:  304px;
	height:  220px;
	margin-left:  15%;
}

.paralympics_text{
	border-left:  4px solid #0097d4;
	margin-right:  3px;
	width:  50%;
	padding:  0 20px;
	padding-left: 5rem;
	margin-bottom:  20px;
}

.video_content {
	clear:  both;
}

.video {
	width:  100%;
	height:  350px;
}

.blue_text {
	color: #0097d4;
}

.center_text {
	text-align:  center;
}

.bold_text {
	font-weight: bold;
}

.margin_10 {
	margin:  0 10%;
}

.margin_15 {
	margin:  0 15%;
}

.title {
	text-transform: uppercase;
	font-weight: 600;
}

.inconform_p {
	font-size: 1em;
}

/*banca responsable*/
.responsable_text {
	margin:  30px auto;
}

.responsable_text_span {
	font-size: 1.2em;
}

.logos_h3 {
	font-size:  1em;
	font-weight: 600;
}

.logos_img {
	width:  100px;
}

.video {
	width:  100%;
	height: 450px;
}

.socioeconomico_h4 {
	font-size: 1em;
}

.socioeconomico_p {
	text-align: center;
}

.logos_section_4 {
	width:  90%;
	margin:  40px 5%;
}

.logos_4 {
	width:  24%;
	display:  inline-block;
	padding:  10px 18px;
	height: 300px;
	float:  left;
	text-align: center;
	font-size:  1.3em;
	color:  #aaa;
	font-weight:  700;
}

.btn_content {
	clear:  left;
	text-align:  center;
	margin-bottom:  80px;
}

.btn_blue {
	background-color: #0097d4;
	height:  80px;
	width: 280px;
}

.btn_blue_link {
	color:  #fff;
	font-weight:  600;
}

.act_resp_title2 {
	text-transform: uppercase;
	font-size: 1em;
	margin-bottom: 30px;
}

.text_margin {
	margin:  25px 5%;
}

.img_text_content {
	position:  relative;
}

.act_resp_title {
	position:  absolute;
	font-size:  2.5em;
	font-weight: bold;
	background-color:  #000;
	color:  yellow;
	text-transform: uppercase;
	top:  50px;
	left:  80px;
	z-index:  10;
}

.act_resp_img {
	height: 350px;
	width:  100%;
}

.sello_content {
	width:  60%;
	margin:  20px 20%;
	margin-bottom:  30px;
}

.sello_img, .sello_text {
	float:  left;
	display:  inline-block;
}

.sello_img {
	width:  30%;
}

.sello_text {
	width:  70%;
}

.actResp_img {
	margin:  10px 30%;
}

.actResp {
	width:  90%;
	text-align: center;
	margin:  10px 5%;
}

.incl_financ {
	clear:  both;
}

.actSocial_title {
	font-size:  1em;
}

.actSocial_text {
	width:  75%;
	margin:  20px 15%;
	text-align: center;
}

.cambioClimat {
	width:  70%;
	margin:  10px 10%;
}

.cambioClimat_div {
	text-align: left;
	width:  45%;
	margin-left:  45px;
	display:  inline-block;
	float:  left;
}

.cambioClimat_div h3  {
	text-align: center;
}

.cambioClimat_div img {
	margin:  5px auto;
}

.diversidad {
	clear:  both;
}

.color_subtitulo {
	color:  #fff;
	background-color: cadetblue;
}
/*FIN banca responsable*/

/*Media queries*/
@media screen and (max-width: 1200px) {
	.banca_proxima_img {
		padding-left:  0;
	}
	.calidad_2images .calidad_first_image, .calidad_second_image {
		width:  100%;
		display:  block;
	}

	.calidad_img {
		display:  block;
		margin:  25px auto;
		float: none;
	}
	/*index*/
	.news_50 {
		width:  255px;
	}
	/*index*/
	.agenda{
		width:  100%;
		display:  block;
	}
	.two_images {
		width:  800px;
		height:  131px;
	}
	.middle_content {
		width:  800px;
	}

	/*footer*/
	.contenedor-footerUp  {
		width:  800px;
		margin:  0 auto;
	}

	.contenedor-footerDown {
		width:  75%;
		margin:  0 auto;
	}

	.footerUp .contenedor-footerUp {
        padding-left: 0; 
	}
	.redes {
		width:  27%;
	}

	.footerImg {
		width:  55%;
	}

	/*contacto*/
	.directores .caja_directores {
		width:  280px;
	}
	.directores {
		width:  930px;
	}

	/*paralimpico*/
	.paralympics_image {
		margin-top:  20px;
	}
}


@media screen and (max-width: 995px) {
	.banca_proxima_img img {
		max-width: 600px;
	}

	.three_logos_1, .three_logos_2, .three_logos_3 {
    	display: block;
    	width:  100%;
    	margin:  0 auto;
    }

    .logo_text {
    	width:  30%;
    }

    .noticia {
    	width:  43%;
    	margin:  15px 10px;
    }

	/*index*/
	.news_50, .news_25 {
		margin: 20px 30px;
	}
	
	/*contacto*/
	.directores .caja_directores {
		width:  330px;
	}
	.directores {
		width:  720px;
		margin:  0 auto;
	}

	/*paralimpico*/
	.paralympics_image {
		margin-top:  30px;
	}
}


@media screen and (max-width: 950px) {

	.footer-left::after{
		display: none;
	}

	/*footer*/
	.redes, .footerImg {
		display: flex;
    	float: none;
    	margin: 0 auto;
    	width: 100%;
    	flex-direction: column;
    	text-align: center;
	}
	.footerImg div.footerText {
		display:  none;
	}

	/**********patrocinios************/
	.logos_section {
		display:  flex;
		flex-direction: column;
		justify-content: center;
	}

	.logos {
		width:  100%;
		margin-bottom: 60px;
	}

	.logos_section:nth-child(3)  {
		margin-bottom:  0;
	}

	.nuestros_patrocinios .margin_15 {
		margin: 10px;
	}

	.nuestros_patrocinios .text_h2 {
		margin-top: 0;
	}

}

@media screen and (max-width: 900px) {
	.left_part, .right_part {
		width: 100%;
		margin:  10px auto;
	}

	/*deporteParalimpico*/
	.paralympics_image {
		margin-left:  0;
	}
}


@media screen and (max-width: 830px ) {
	/*******calidad***************/
	.banca_proxima_text {
		width:  95%;
		display:  block;
		margin:  25px auto;
		position: relative;
	}
	
	.banca_proxima_img {
		display: block;
   		width: 100%;
	}

	.banca_proxima_img img {
		max-width:  990px;
	}

	.small_text p:first-child {
		width:  60%;
		margin-left: 72px;
	}

	.small_text p:nth-child(2) {
		width:  100%;
		margin-left:  72px;
	}

	.small_text p:last-child {
		width:  60%;
		margin-left:  72px;
	}

	.text_second {
		width: 355px;
	}

	/*index*/
	.two_images_left, .two_images_right {
		width:  523px;
		float:  none;
		margin:  0 auto;
		margin-top:  15px;
		display: block;
	}

	.two_images {
		width:  523px;
		height:  auto;
	}

	.agenda_text {
		display: block;
		float:  none;
		margin:  0 ;
		width:  280px;
	}
	.agenda_draw {
		display:  none;
	}
	.agenda_txt {
		display:  block;
		float:  none;
		margin:  20px 0;
		text-align: left;
		width:  280px;
		height: auto;
	}

	.middle_content {
		width:  80%;
	}

	.middle_content_agenda {
		width:  290px;
	}

	.agenda {
		width:  50%;
	}

	.one_right_part {
		width:  290px;
		float:  left;
	}

	/*footer*/
	.footerUp {
		height:  100%;
	}

	/*paralimpico*/
	.paralympics_image {
		margin-top:  65px;
	}

	.paralympics_img_content {
		width:  45%;
	}

	/***bca responsable***/
	.logos_4 {
		width:  50%;
	}
	.socioeconomico_h4 {
		padding-left:  0;
		padding-right:  0;
	}


}

@media screen and (max-width: 768px ) {
	/*footer*/
	.footerUp div.footer-left::before {
		content:  url('../img/footer/logo_footer.png');
		width:  100%;
		height:  auto;
		margin-top:  25px;
		margin-left: 30%;
	}

	.contenedor-footerDown div.footerImg {
		display:  none;
	}

	.footerUp div.footer-left, .footerUp div.footer-center, .footerUp div.footer-right {
		width:  100%;
		margin:  0 auto;
		display:  block;
		float:  none;
		height:  auto;
		padding: 0;
	}

	.footerDown {
		background:  #f5f6f7;
	}

	.footerUp div.footer-left h2, .footerUp div.footer-center h2, .footerUp div.footer-right h2 {
		text-align: center;
	}

	.footerUp div.footer-left ul, .footerUp div.footer-center ul, .footerUp div.footer-right ul {
		display:  none;
	}

	.footerUp .contenedor-footerUp div:last-child {
		width:  100%;
		margin:  0 auto;
	}
	.footerUp .contenedor-footerUp div::after {
		display: none;
	}
	/*index*/
	.one_right_part {
		display:  block;
		float:  none;
	}

	.agenda {
		float: none;
		margin: 0 auto;
		display: block;
	}
	.one_right_part {
		margin:  0 auto;
		width:  80%;
	}
	.two_images {
		width:  80%;
		margin:  0 8%;
	}
	.two_images_left, .two_images_right {
		width:  100%;
	}
	.middle_content {
		width:  100%;
	}
	.agenda .title_h2, .one_right_part h2 {
		text-align: center;
	}

	/*contacto*/
	.directores {
		width:  90%;
		margin:  0 auto;
	}

	.directores .caja_directores {
		width:  300px; 
	}

}

@media screen and (max-width: 710px ) {

	/*contacto*/
	.directores {
		width:  100%;
		display: flex;
		flex-direction: column;
	}
	.directores .caja_directores {
		width:  90%; 
		margin:  3% auto;
	}

	/*deporteParalimpico*/
	.compromet_content, .inconform_content {
		display:  flex;
		flex-direction:  column;
		position:  relative;
	}

	.paralympics_text {
		border-left:  none;
		padding-left:  0;
	}

	.paralympics_img_content, .paralympics_text {
		width:  95%;
		position:  absolute;
	}

	.paralympics_image {
		margin-top:  295px;
		margin-left:  13%;
	}

	.paralympics_text {
		margin-top:  15px;
		padding-right:  55px;
	}

	.video_content {
		margin-top:  350px;
	}

	.video_compromet {
		margin-top:  504px;
	}

	.video_inconform {
		margin-top:  530px;
	}

}

@media screen and (max-width: 520px) {
	/*header*/
	.menu_link span {
		display: none;
	}

	.menu_link::before {
		height:  0.25em;
		width:  1.7em;
		box-shadow: 0 1em 0 0 #0097d5, 0 0.5em 0 0 #0097d5 ;
	}
	
}

@media screen and (max-width: 480px ) {
	/********index***********/
	.two_images_img {
		min-width:  357px;
	}

	.two_images_left {

	}

	ul.twitter_list> .twitter_list_item {
    	display: none;
	}

	ul.twitter_list> .twitter_list_item:first-child {
    	display: block;
	}

	.twitter_list_item {
		width:  60%;
	}

	.news_img {
		margin-bottom:  40px;
	}

	.news_img img {
		height:  278px;
	}

	.one_right_part img {
		width:  100%;
	}

	.two_images_img img{
		width:  100%;
	}

	/****header****/
	.fixed {
		width:  100%;
		padding:  7px 0 0 30px;
	}

	.index_content .news_index_content div.news_50, .news_index_content  div.news_25 {
		width:  80%;
		display: block;
		margin:  0 auto;
	}

	.logoHeader img {
		width:  180px;
	}

	.searchForm {
		position: absolute;
		margin-top:  26px;
		margin-right:  2%;
	}

	.menu_link span {
		display: none;
	}

	/*bancaParalimpico*/

	.inconform_img {
		margin-top:  143px;
	}

	.compromet_img {
		margin-top:  65px;
	}

	.paralympics_image {
		margin-left:  0;
	}

	.video_content .video {
		margin-top:  142px;
	}

	/***calidad***/
	.banca_proxima_img {
		margin-top:  40px;
		margin-right:  1%;
	}
	.banca_proxima_img img {
		width:  90%;
		
	}

	div.small_text .text_p {
		margin-left: 0;
	}

	.small_text p:last-child {
    	width: 90%;
	}

	.banca_proxima_text {
		margin-top:  50px;
		position: relative;
	}

	.banca_proxima_text p {
		margin:  5px;
	}

	.calidad_2images img {
		width:  100%;
	}

	.title_principal {
		font-size:  2.2em;
	}
	.logo_text {
		width:  80%;
	}
	
	.graphic_img {
		width:  100%;
		margin:  0;
	}

	.noticia {
		width:  100%;
		margin: 0;
	}

	.text_second {
		width: 200px;
	}

	.banca_personalizada_content {
		padding:  0;
	}

	.small_text p:first-child, .small_text p:last-child {
		width:  100%;
	}

	.calidad_text {
		padding-left: 15px;
		padding-right: 15px;
	}

	p.attcliente_p.text_center {
		padding-left:  15px;
		padding-right:  0;
	}
	/********patrocinios*********/
	.nuestros_patrocinios .text_h2 {
		width:  100%;
		margin-left:  0;
	}
}

